@import url('https://fonts.googleapis.com/css?family=Merienda:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #252525;
}

h1 {
  font-family: 'Merienda', cursive;
  font-weight: 700;
}

h3,
h4 {
  margin-bottom: 0.5rem;
}

tr {
  font-size: 0.9rem;
}

/* Semantic ui react card styles */
.ui.card > .content > .header p {
  margin: 0;
  font-size: 1.1rem;
}

.ui.card > .content p {
  margin: 0;
}

/* colors for tab's icons states */
.iActive {
  color: #189963;
}

.grey {
  color: grey;
}

/* search food item details */
.food-details {
  color: #757575;
  font-style: italic;
  letter-spacing: 0.05rem;
}
